<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 强制使用CGLIB代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 默认配置 -->
	<!-- <aop:aspectj-autoproxy/> -->

	<!-- spring 注解支撑 -->
	<context:annotation-config />
	
	<!-- 注册对应包下的controller到上下文中 -->
	<context:component-scan base-package="org.ping" use-default-filters="false">
		<context:include-filter type="regex" expression="org.ping..*Controller"/>
		<context:include-filter type="regex" expression="org.ping..*Action"/>
		<context:include-filter type="regex" expression="org.ping..*Service"/>
		<context:include-filter type="regex" expression="org.ping..*ServiceImpl"/>
		<context:include-filter type="regex" expression="org.ping..*Dao"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<import resource="classpath:config/spring/spring-jax-ws.xml" />
	<import resource="classpath:config/spring/spring-mvc.xml" />
</beans>