<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 强制使用CGLIB代理 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 默认配置 -->
	<!-- <aop:aspectj-autoproxy/> -->

	<!-- spring 注解支撑 -->
	<context:annotation-config />
	
	<!-- 注册对应包下的controller到上下文中 -->
	<!-- 自动扫描组件，这里要把web下面的 controller去除，他们是在spring3-servlet.xml中配置的，如果不去除会影响事务管理的。 -->
	<context:component-scan base-package="org.ping" annotation-config="true">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 应用属性文件读入-->
    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean"
          lazy-init="false">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath*:**/solr.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- PropertyPlaceholderConfigurer,用于spring ${placeholder}的解析 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          lazy-init="false">
        <property name="properties" ref="configProperties"/>
    </bean>
    
    <!-- rest支持 -->
	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate"></bean>
    
	<!-- <import resource="classpath:config/spring/spring-jax-ws.xml" /> -->
	<import resource="classpath:config/spring/spring-mvc.xml" />
	<import resource="classpath:config/spring/spring-solr.xml" />
</beans>